# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment folder
venv/
.env/

# Poetry virtual environment (if managed by Poetry)
*.venv/

# Poetry lock file if you don't want it to be versioned (optional)
poetry.lock

# IDEs
.vscode/
.idea/

# MacOS Finder file (if you're on Mac)
.DS_Store

# Windows thumbnail cache
Thumbs.db
